/* ********** */
/* CSS STYLES */
/* ********** */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 5em;
    text-align: center;
}

body {
    font-family: "Cormorant Garamond", serif, "Zhi Mang Xing", "KaiTi";
    background: rgb(9, 6, 56);
    background: radial-gradient(circle, rgba(9, 6, 56, 1) 0%, rgba(9, 9, 121, 1) 47%, rgba(42, 72, 78, 1) 100%);
    background-attachment: fixed;
    color: white;
    height: 100vh;
    font-size: clamp(12px, 1.5vw, 24px);
    padding: 1rem;
}

.bold {
    font-weight: 700;
}

/* *********** */
/* MAIN VISUAL */
/* *********** */

.background {
    font-size: calc(13em + 14vw);
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
}

.centered {
    display: grid;
    align-content: center;
    place-items: center;
    height: 100vh;
    position: static;
    overflow: hidden;
}

/* ************ */
/* PRIMARY TEXT */
/* ************ */
.aftermain {
    position: absolute;
    top: 85%;
}

.story {
    font-size: 1.5em;
    padding-left: 15%;
    padding-right: 15%;
}

/* ****** */
/* ASSETS */
/* ****** */

/* loading spinner asset */
.loading {
    z-index: -2;
    height: 10vmin;
    position: absolute;
    opacity: 20%;
}